[submodule "blog/articles/article_detailed/article_20250609_grafana/code_examples/infra"]
	path = blog/articles/article_detailed/article_20250609_grafana/code_examples/infra
	url = https://github.com/darklab8/infra.git
