package common

import (
    	"darklab_blog/blog/settings"
)

templ NavElem(url string) {
    <a href={ templ.URL(url) }><div class="nav_elem">
    { children... }
    </div></a>
}

templ Menu() {
    <menu class="main_menu">
        @NavElem(settings.SiteRoot) {
            Articles
        }
        @NavElem(settings.SiteRoot + "pet_projects.html") {
            Pet projects
        }
        @NavElem(settings.SiteRoot + "about.html") {
            About
        }
    </menu>
}