package article_git_conventional_commits

import (
	"darklab_blog/blog/common"
)

templ ArticleT() {
    @common.Html5(common.Title("Git conventional commit")) {
		@common.BlogFrame() {
			<style>
			img {
				max-width: 800px;
			}
			</style>
			@common.Menu()
			@templ.Raw(string(Body))
		}
	}
}