package article_static


templ ArticleCSS() {
    <style>
    .article_headline footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    </style>
}