package common_static


templ CustomCSS() {
    <style data-custom-css>
    /*My custom stuff*/
    .page_header {
        font-size: 2.2em;
    }

    .text_header_1 {
        font-size: 2em;
    }

    a.text_link {    
        font-weight: bold;
        color: var(--color_link);
    }
    a.text_link:hover {
        color: var(--color_hover_link);
    }


    .section_header, .sub_section_header {
        color: gray;
    }
    </style>
}
