package articles

import (
	"darklab_blog/blog/common"
)

templ ArticleHeadline(name string, url string) {
	<div class="article">
	<a class="article_header" href={ templ.URL(url) }><h2>{ name }</h2></a>
	{ children... }
	</div>
}

templ HomeBody() {
	@ArticleHeadline("Static typed logging","") {
		
	}
}

templ HomeT() {
	@common.Html5(common.Title("Articles")) {
		@common.BlogFrame() {
			@common.Menu()
			@HomeBody()
		}
	}
}
