package articles

import (
	"darklab_blog/blog/common"
)


templ HomeBody() {
	<h1>This is a Heading</h1>
	<p>This is a paragraph. 123.</p> 
}

templ HomeT() {
	@common.Html5(common.Title("Home")) {
		@common.BlogFrame() {
			@common.Menu()
			@HomeBody()
		}
	}
}
