.myphoto {
    width: calc(256px * 0.5);
    height: calc(357px * 0.5);
    float: right;
    margin: 0px 15px 15px 15px;
}

.contacts a {    
    font-weight: bold;
    color: var(--color_link);
}
.contacts a:hover {
    color: var(--color_hover_link);
}
